---
import '../styles/global.css';
// Component Imports

// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro + TailwindCSS</title>
	</head>

	<body>
		<div class="grid place-items-center h-screen content-center">
            <p class="text-3xl font-bold ">
                    <span class="text-blue-500">Astro</span> + <span class="text-blue-500">TailwindCSS</span>
                astro
                </p>
		</div>
	</body>
</html>
